# Dependencies
node_modules/

# Build
dist/
coverage/
*.tsbuildinfo

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Prisma local database
prisma/*.db
prisma/*.db-journal

# IDE / OS
.DS_Store
.idea/
.vscode/

# Temporary files
tmp/
temp/
.cache/

# Documentation locale
docs/